<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <h3>Shop It</h3>

        <p>Shopping streamlined</p>

        <h3><a href="/Login/">Login</a></h3>

        <h3><a href="/Signup/">Register</a></h3>

        <h3><a href="#about">About us</a></h3>
    </nav>
    <div>
        <section id="about"><h2>About us.</h2>
            <p>Shop It is an online shop that allows people with products to sell them online, reaching a bigger market.<br>
                Whether you are looking forward to increase your sales througn online selling, or planning to run a fully online shop,<br>
                Shop It is here for your needs.
            </p>
        </section>

        <section id="mission"><h2>Our mission.</h2>
            <p>
                To help businesses increase their their sales by selling to an oline audience.
            </p>
        </section>

    </div>

</body>
</html>